h1,h2{
    font-family: "Ubuntu";
}
h1{
    padding: 25px;
    margin: 15px;
    font-weight: 900;
}
h2{
    margin: 15px;
    padding:50px 0;
}
.navbar-brand{
    font-size: 2rem;
    padding: 5px 15px;
}
.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .active>.nav-link{
    color: #f7f5dd;
}
.navbar-light .navbar-nav .nav-link:hover,.navbar-light .navbar-brand:hover{
    color: rgb(73, 76, 77);
}
p{
    padding: 10px;
}
.navbar{
    padding: 5px;
    background-color: #c5c7ae;
}
.nav-item{
    text-align: center;
    color: #f7f5dd;
}
.container{
    background-color: #c5c7ae;
    margin-bottom: 50px;
}
